.myCont{

  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.myForm
{
  background:#EEEEEE;
  height:600px;
  width:345px;
  border-radius:3px solid #EEEEEE;
}

.row
{
  width:auto;
}
.myForm mat-icon{
   text-align: center;
 }
#userIcon{

  text-align: center;
}


