<div class="container-fluid myCont">


      <mat-tab-group>
        <div class="row">
        <mat-tab label="First">
          <div class="myForm">
                <div class="col-12"><mat-card-title >Login</mat-card-title></div>

              <div class="col-12"> <mat-card-subtitle   >Divertiti su AnimeStreaming</mat-card-subtitle></div>

            <br>
              <mat-divider></mat-divider>
              <br>
              <div class="col-10" id="userIcon" ><mat-icon style="font-size:84px;">account_circle</mat-icon></div>

              <mat-card-content>
              </mat-card-content>

              <mat-card-footer>

              </mat-card-footer>

          </div>
        </mat-tab>
        </div>

        <mat-tab label="Second">

        </mat-tab>

      </mat-tab-group>
  </div>

