<div class="myCont">


  <div class="row">
    <mat-card-content>
      <mat-tab-group>
        <mat-tab label="First">
          <ng-template matTabContent>

            <div class="col-12"><mat-card-title>Login</mat-card-title></div>

            <div class="col-12"><mat-card-subtitle>Divertiti su AnimeStreaming</mat-card-subtitle></div>

            <mat-divider></mat-divider>
            <mat-icon>account_circle</mat-icon>

          </ng-template>
        </mat-tab>
        <mat-tab label="Second">
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>

    <mat-card-footer>


    </mat-card-footer>
  </div>
</div>
