
<div class="myForm">

  <div class="col-12"><mat-card-title >Iscriviti</mat-card-title></div>

  <div class="col-12"> <mat-card-subtitle   >Registrati su AnimeStreaming</mat-card-subtitle></div>

  <br>
  <mat-divider></mat-divider>
  <br>

  <mat-card-content>

    <form>
      <!-- Email -->
      <div  class="col-10 offset-2">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="">

        </mat-form-field>
      </div>
      <!-- Username -->
      <div  class="col-10 offset-2">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="">

        </mat-form-field>
      </div>

      <!-- Password -->
      <div  class="col-10 offset-2">
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput placeholder="">

        </mat-form-field>
      </div>
    <!-- Conferma password -->
      <div  class="col-10 offset-2">
        <mat-form-field appearance="outline">
          <mat-label>Conferma Password</mat-label>
          <input matInput placeholder="">

        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <!--BOTTONE registrati -->
  <mat-card-footer>
    <button mat-raised-button color="primary" id="bottoneLogin">Registrati</button>

  </mat-card-footer>
</div>
